autopep8==1.4.4
blinker==1.4
certifi==2023.11.17
charset-normalizer==3.3.2
Click==7.0
colorama==0.4.6
Flask==1.1.1
Flask-DebugToolbar==0.10.1
idna==3.6
itsdangerous==1.1.0
Jinja2==2.10.3
MarkupSafe==1.1.1
pycodestyle==2.5.0
requests==2.31.0
urllib3==2.1.0
Werkzeug==0.16.0
