{% extends 'base.html' %} {% block title %}Currency Exchange Rates{% endblock %}
{% block content %}
<h1>Forex Converter</h1>
{% with messages = get_flashed_messages() %} {% if messages %} {% for message in
messages %}
<div class="error">{{ message }}</div>
{% endfor %} {% endif %} {% endwith %}
<br />
<form action="/submit" class="exchange-form">
  <label for="source">Converting from: </label>
  <input type="text" name="source" id="source" class="field" />
  <br />
  <label for="currencies">Converting to: </label>
  <input type="text" name="currencies" id="currencies" class="field" />
  <br />
  <label for="amount">Amount: </label>
  <input type="text" name="amount" id="amount" class="field" />
  <br />
  <input type="submit" />
</form>
{% endblock %}
