<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Currency Exchange Rates</title>
  </head>
  <body>
    <form action="/submit">
      <label for="source">Converting from:</label>
      <input type="text" name="source" id="source" />
      <br />
      <label for="currencies">Converting to:</label>
      <input type="text" name="currencies" id="currencies" />
      <br />
      <label for="amount">Amount:</label>
      <input type="text" name="amount" id="amount" />
      <br />
      <input type="submit" />
    </form>
  </body>
</html>
